* {
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;

}




/* header styles start*/
.part-1 {
    background-color: #f5e9dc;
    padding-bottom: 50px;
}


.head-1 {
    display: flex;
    justify-content: center;
}

.head-2 {
    width: 1400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head-2 h2 {
    font-size: 45px;
    font-weight: 700;
}

.head-3 a {
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 500;
}

/* end of header style */



/* Brand New 
Group of Architects styles start
 */
.brand-new-1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

.brand-new-2 {
    width: 900px;
}

.brand-new-2 h1 {
    font-size: 64px;
}

.brand-new-2 p {
    font-size: 16px;
    color: rgb(104, 104, 104);
}

.explore-more-btn {
    padding: 20px 25px;
    margin-top: 30px;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

/* Brand New 
Group of Architects styles end
 */




/* brand new image start*/

.brande-new-img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.brande-new-img img {
    height: 700px;
    width: 1440px;
}

/* brand new image end*/


/* Quick list of Our Features start*/

.quick-list-1 {
    display: flex;
    justify-content: center;
    margin-top: 130px;

}

.quick-list-2 {
    width: 1300px;
    display: flex;
    align-items: center;
}

.quick-list-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-4 {
    padding-left: 70px;
}

.quick-list-4 h1 {
    font-size: 45px;
    font-weight: 500;
}

.silver-color {
    color: rgb(105, 105, 105);
    font-weight: 500;
}

.black-color {
    color: black;
    font-weight: 700;

}

.orange-color {
    color: orange;
    font-weight: 700;
}

/* Quick list of Our Features end*/


/* Features you will love & enjoy start */
.love-enjoy-1 {
    display: flex;
    justify-content: center;

}

.love-enjoy-2 {
    width: 1350px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 130px;
}

.love-enjoy-2 img {
    height: 982px;
    width: 708px;
}

.love-enjoy-3 h2 {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.love-enjoy-3 p {
    font-size: 16px;
    color: rgb(136, 136, 136);

}

.love-enjoy-4 {

    margin-top: 20px;
    padding: 30px;
    border-radius: 8px;
    margin-right: 50px;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
}

.love-enjoy-4 h4 {
    font-size: 20px;
}

.btn-2 {
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 30px 45px;
    position: relative;
    left: 610px;
    bottom: 100px;
}

.btn-2 h1 {
    font-size: 65px;
}

.btn-2 p {
    font-size: 25px;
}

/* Features you will love & enjoy end */

/* some fact */
.fact-1 {
    display: flex;
    justify-content: center;
}

.fact-2 {
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.fact-2 h1 {

    font-size: 45px;
    font-weight: 700;
    padding-left: 10px;
}

.fact-2 p {

    font-size: 16px;
    font-weight: 500;
    color: rgb(109, 109, 109);
    padding-right: 40px;
    padding-left: 10px;
    margin-bottom: 100px;
}


/* some fact end*/




/*-------------
-----------
----------- some achievements-----------------
----------------
------------ */
.achievement-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.achievement-2 {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievement-3 {
    border: 3px solid #FF900E;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
    transition: width 2s;
}

.achievement-3 h1 {
    font-size: 45px;
    font-weight: 600;
}

.achievement-3 p {
    font-size: 16px;
    font-weight: 500;
}

.achievement-3:hover {
    background-color: #FF900E;
    color: white;


}

/*-------------
-----------
----------- some achievements end-----------------
----------------
------------ */




/* sponsors text*/
.sponsor-text {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor-text h1 {
    font-size: 45px;
    font-weight: 700;
}

.sponsor-text p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(107, 107, 107);
}

/* sponsor text end */
.sponsor-img-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 130px;
}

.sponsor-img-2 {
    width: 1350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* sponsor text image */



/* extra sections */

.extra-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.extra-2 {
    width: 1350px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

}

.extra-3 {
    text-align: center;
    background-color: rgb(99, 99, 99);
    padding: 50px;
    border-radius: 10px;
}

.extra-4 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 148, 104);
    padding: 50px;
    border-radius: 10px;
}

.extra-3 p {

    color: rgb(255, 255, 255);
}

.extra-4 p {

    color: rgb(255, 255, 255);
}

.btn-3 {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px 40px;
    border: 2px solid #FF900E;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-4 {
    background-color: rgb(255, 103, 33);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

.btn-5 {
    padding: 10px 40px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 1.2em;
    border-radius: 50px;
    border: none;
    font-weight: 700;
}

/* extra sections end*/





/* footer start */

.foots {
    width: 1350px;
    background-color: #FFF4E7;
    padding: 40px;
}

footer {
    display: flex;
    justify-content: center;
    color: rgb(82, 82, 82);


    text-align: center;
}

/* footer end */









/* responsive */
/* responsive */
/* responsive */
/* responsive */
.sabbir {
    display: none;
}

/* mobile devices */
@media screen and (max-width:576px) {

    /* footer */
    .foots {
        width: 100%;
    }

    /* extra section */
    .extra-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: -80px;
        margin-left: 10px;
        margin-right: 10px;
    }

    /* sponsor image */
    .sec-10 {
        display: flex;
        justify-content: center;
    }

    .sponsor-img-1 {
        display: flex;
        justify-content: center;
    }

    .sponsor-img-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        justify-items: center;
    }

    /* sponsor-text */
    .sponsor-text {
        padding: 10px;
    }

    /* achievement */
    .achievement-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px;
        gap: 10px;
    }


    /* som facts */
    .fact-2 {
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        margin-top: 150px;
        margin-bottom: -10px;
    }



    /* Features you will love & enjoy  */
    .love {
        margin-left: -20px;
        padding: 20px;
    }

    .love-enjoy-2 img {

        width: 500px;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .love-enjoy-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .love-enjoy-3 {
        text-align: center;
        padding-left: 40px;
        padding-bottom: 30px;


    }

    .mob-img {
        height: auto;
        margin-left: 30px;
    }

    /* btn-2 */
    .btn-2 {
        position: absolute;
        left: 100px;
        bottom: -4050px;
        margin-bottom: 100px;


    }


    /* <!-- Quick list of Our Features start --> */

    .quick-list-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        justify-items: center;
    }

    .quick-list-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .quick-list-4 {
        text-align: center;

        padding: 10px;
    }

    /* brand new image */
    .brande-new-img img {
        width: 90%;
        height: auto;
    }

    .brand-new-2 {

        margin: 10px;
        padding: 10px;
    }

    .brand-new-2 h1 {
        font-size: 35px;
    }

    .mobile-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 0px 20px;
    }

    .mobile-header h2 {
        font-size: 30px;
    }

    .mobile-header i {
        font-size: 30px;
    }

    .head-1 {
        display: none;
    }

}

/* header */
@media screen and (min-width:576px) {
    .mobile-header {
        display: none;
    }
}