* {
    margin: 0px;
}

body {
    font-family: 'Poppins', sans-serif;

}




/* header styles start*/
.part-1 {
    background-color: #f5e9dc;
    padding-bottom: 50px;
}


.head-1 {
    display: flex;
    justify-content: center;
}

.head-2 {
    width: 1400px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.head-2 h2 {
    font-size: 45px;
    font-weight: 700;
}

.head-3 a {
    text-decoration: none;
    color: black;
    padding-left: 50px;
    font-size: 18px;
    font-weight: 500;
}

/* end of header style */



/* Brand New 
Group of Architects styles start
 */
.brand-new-1 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
}

.brand-new-2 {
    width: 900px;
}

.brand-new-2 h1 {
    font-size: 64px;
}

.brand-new-2 p {
    font-size: 16px;
    color: rgb(104, 104, 104);
}

.explore-more-btn {
    padding: 20px 25px;
    margin-top: 30px;
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    border: none;

}

/* Brand New 
Group of Architects styles end
 */




/* brand new image start*/

.brande-new-img {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.brande-new-img img {
    height: 700px;
    width: 1440px;
}

/* brand new image end*/


/* Quick list of Our Features start*/

.quick-list-1 {
    display: flex;
    justify-content: center;
    margin-top: 130px;

}

.quick-list-2 {
    width: 1300px;
    display: flex;
    align-items: center;
}

.quick-list-3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.quick-list-4 {
    padding-left: 70px;
}

.quick-list-4 h1 {
    font-size: 45px;
    font-weight: 500;
}

.silver-color {
    color: rgb(105, 105, 105);
    font-weight: 500;
}

.black-color {
    color: black;
    font-weight: 700;

}

.orange-color {
    color: orange;
    font-weight: 700;
}

/* Quick list of Our Features end*/


/* Features you will love & enjoy start */
.love-enjoy-1 {
    display: flex;
    justify-content: center;

}

.love-enjoy-2 {
    width: 1350px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin-top: 130px;
}

.love-enjoy-2 img {
    height: 982px;
    width: 708px;
}

.love-enjoy-3 h2 {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.love-enjoy-3 p {
    font-size: 16px;
    color: rgb(136, 136, 136);

}

.love-enjoy-4 {

    margin-top: 20px;
    padding: 30px;
    border-radius: 8px;
    margin-right: 50px;
    box-shadow: 1px 1px 10px rgb(180, 180, 180);
}

.love-enjoy-4 h4 {
    font-size: 20px;
}

.btn-2 {
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 30px 45px;
    position: relative;
    left: 610px;
    bottom: 100px;
}

.btn-2 h1 {
    font-size: 65px;
}

.btn-2 p {
    font-size: 25px;
}

/* Features you will love & enjoy end */

/* some fact */
.fact-1 {
    display: flex;
    justify-content: center;
}

.fact-2 {
    width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.fact-2 h1 {

    font-size: 45px;
    font-weight: 700;
    padding-left: 10px;
}

.fact-2 p {

    font-size: 16px;
    font-weight: 500;
    color: rgb(109, 109, 109);
    padding-right: 40px;
    padding-left: 10px;
    margin-bottom: 100px;
}


/* some fact end*/




/*-------------
-----------
----------- some achievements-----------------
----------------
------------ */
.achievement-1 {
    display: flex;
    justify-content: center;
    margin-bottom: 180px;
}

.achievement-2 {
    width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.achievement-3 {
    border: 3px solid #FF900E;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}

.achievement-3 h1 {
    font-size: 45px;
    font-weight: 600;
}

.achievement-3 p {
    font-size: 16px;
    font-weight: 500;
}

/*-------------
-----------
----------- some achievements end-----------------
----------------
------------ */




/* sponsors */
.sponsor {
    text-align: center;
    margin-bottom: 50px;
}

.sponsor h1 {
    font-size: 45px;
    font-weight: 700;
}

.sponsor p {
    font-size: 16px;
    font-weight: 500;
    color: rgb(107, 107, 107);
}